### % 기호를 사용한 문자열 형식화

%s 문자열
%d 정수
%f 부동소수점 실수

In [2]:
"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [3]:
"나는 %d살 입니다." % 12

'나는 12살 입니다.'

In [4]:
"원주율의 값은 %f입니다." % 3.141592

'원주율의 값은 3.141592입니다.'

In [5]:
"%d 곱하기 %d은 %d이다." % (2, 3, 6)

'2 곱하기 3은 6이다.'

In [6]:
"%s의 %s 과목 점수는 %d점이다." % ("철수", "수학", 100)

'철수의 수학 과목 점수는 100점이다.'

### Practice 1

In [7]:
name = "Tom"
age = 13

"%s is %d years old" % (name, age)

'Tom is 13 years old'

In [9]:
%precision 3

a = 10
b = 3

"%d / %d = %f" % (a, b, a/b)

'10 / 3 = 3.333333'

### 고급 형식지정 문자열

In [10]:
"[%20s]" % "*"

'[                   *]'

In [11]:
"[%-20s]" % "A"

'[A                   ]'

In [12]:
"[%20d]" % 123

'[                 123]'

In [13]:
"[%-20d]" % 123

'[123                 ]'

In [14]:
x = 1 / 3.0
"%.5f" % x

'0.33333'

In [15]:
"[%-20.6f]" % x

'[0.333333            ]'

### format 메서드를 사용한 문자열 형식화

In [16]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [19]:
"{2}의 {0} 점수는 {1}점입니다. {1}점! {1}점!".format("수학", 100, "철수")

'철수의 수학 점수는 100점입니다. 100점! 100점!'

In [20]:
"[{:<20}]".format("x")

'[x                   ]'

In [21]:
"[{:>20}]".format(20)

'[                  20]'

In [22]:
"[{:20.5f}]".format(1 / 3)

'[             0.33333]'

In [23]:
"[{:20,}]".format(1234567890)

'[       1,234,567,890]'

### Practice

In [55]:
a = 3
b = 12

print("{:10}".format(a))
print("x" + "{:9}".format(b))
print("-" * 11)
print("{:10}".format(a + b))

         3
x       12
-----------
        15

In [53]:
a = 123456
b = 7890

print("{:10,}".format(a))
print("+" + "{:9,}".format(b))
print("-" * 11)
print("{:10,}".format(a + b))

   123,456
+    7,890
-----------
   131,346