In [2]:
for i in range(10):
    print("=" + str(i) + "=")

=0=
=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=

#### Practice 1

In [4]:
for i in range(10):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********

#### Practice 2

In [5]:
for i in range(10):
    print("*" * (10 - i))

**********
*********
********
*******
******
*****
****
***
**
*

#### Practice 3

In [8]:
for i in range(20):
    if(i < 10):
        print("*" * i)
    else:
        print("*" * (20-i))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

#### Practice 4

In [31]:
for i in range(11):
    if( i < 6):
        print(" " * (5 - i) + "*" * (2 * i + 1) + " " * (5- i))
    else:
        print(" " * (i - 5) + "*" * ((11 - i) * 2 - 1) + " " * (i - 5))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

### 중첩 for 반복문

In [36]:
for i in range(4):
    for j in range(4):
        print(i + j, end=" ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [37]:
# 주사위 경우의 수

for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        print(n1, n2)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [38]:
for i in range(6):
    n1 = i + 1
    for j in range(6):
        n2 = j + 1
        if (n1 + n2) % 4 == 0:
            print(n1, n2)

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

#### Practice 5

In [43]:
"""
어떤 주식의 가격은 매일 한 번 동전을 던져서 앞면이 나오면 전날 가격의 2배가 되고, 뒷면이 나오면 전날 가격의 절반이 된다. 
1일에 주식의 가격이 1,024원이었을 때, 4일 주식의 가격이 나올 수 있는 경우를 모두 구한다. (힌트: for 반복문이 3개 중첩되어야 한다)
"""
price = 1024

for i in range(2):   # 2nd day
    if i == 0:
        price1 = price * 2
    else:
        price1 = price * 0.5
    for j in range(2): # 3rd day
        if j==0:
            price2 = price1 * 2
        else:
            price2 = price1 * 0.5
        for t in range(2): # 4th day
            if t == 0:
                price3 = price2 * 2
            else:
                price3 = price2 * 0.5
            print(i, j, t)
            print(price1, price2, price3)

0 0 0
2048 4096 8192
0 0 1
2048 4096 2048.0
0 1 0
2048 1024.0 2048.0
0 1 1
2048 1024.0 512.0
1 0 0
512.0 1024.0 2048.0
1 0 1
512.0 1024.0 512.0
1 1 0
512.0 256.0 512.0
1 1 1
512.0 256.0 128.0

#### Practice 6

In [ ]:
"""
프랑스의 수학자 페르마(Ferma)의 마지막 정리는 다음과 같다.
n이 2보다 큰 자연수인 경우에, 𝑎𝑛+𝑏𝑛=𝑐𝑛 이 되는 자연수 𝑎, 𝑏, 𝑐는 존재하지 않는다.
n이 3이고 a, b, c 가 1부터 10까지의 자연수일 때 페르마의 마지막 정리가 사실임을 중첩 반복문을 써서 보인다. 
(힌트: 1부터 10까지 반복되는 for 반복문이 3개 중첩되어야 한다.)
"""